<form id="contactForm" method="POST" action="https://formspree.io/phamnhatthien@mail.com">
  <div class="form__input half">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" autocomplete="name" required>
  </div>

  <div class="form__input input half">
    <label for="email">Email</label>
    <input type="email" name="email">
  </div>

  <div class="form__input">
    <label for="message">Message</label>
    <textarea name="message" rows="7"></textarea>
  </div>
  <button class="btn js-submit" type="submit">Send</button>
</form>
